.app {

}

.app-main {
  display: flex;
}


.app-left {
  display: flex;
  justify-content: center;
  flex: 0 0 50%;
}

.app-right {
  display: flex;
  justify-content: center;
  flex: 0 0 50%;
  background: #F8FBFD;
  min-height: 80vh;
  width: 720px;
  height: 756px;
  left: 720px;
  top: 244px;

  background: #F8FBFD;
}

img.emojione {
  margin: 0px !important;
  display: inline !important;
  height: auto;
  width: 50px;
}

span.emoji {
  font-size: 40px;
  vertical-align: middle;
  /* line-height: 2; */
}

.box {
  border: 1px solid rgba(0, 0, 0, 0.1);;
  padding: 10px;
  min-width: 80px;
  margin-right: 10px;
  background-color:rgba(222, 237, 247, 0.2);
  text-align: center;
  border-radius: 0.5rem;
}

.containerEmoji {
  display: flex; 
  flex-direction: row;
  justify-content: space-between; 
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.box p {
  margin: 5px 0 0 0;
}

.form {
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 360px) {
  /* .mobile {
    width: 360px;
  } */
  

  }